<%- include('./header'); %>

    <body>
        <nav class="navigation">
            <div class="nav-logo"><img src="./img/logo.svg" alt="logo"></div>
            <ul id="nav-menu" style="display: none;">
                <li><a href="#main-img">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#us">Us</a></li>
            </ul>
            <div id="left-nav">
                <!--<div id="auth">
                    <% if(firstname=="" ) { %>
                        <a id="login_btn" href="/login"><img src="./img/user.svg" alt="user"> Connexion</a>
                    <% } else { %>
                        <div id="user">
                            <img src="./img/user.svg" alt="user">
                            <p id="value_user" data-firstname="<%= firstname %>" data-lastname="<%= lastname %>"
                                data-email="<%= email %>" data-dispo="<%= dispo %>">
                                <%= firstname %>
                                    <%= lastname %>
                            </p>
                            <a id="logout_btn2" href="/logout"><img src="./img/logout.svg" alt="logout"></a>
                        </div>
                        <!--<div id="user-opt">
                            <a id="user_btn" href="/user"><img>Mon Compte</a>
                            <a id="logout_btn" href="/logout"><img src="./img/logout.svg" alt="logout"> Déconnexion</a>
                        </div>-->
                    <!--<% } %>
                </div>-->
                <div id="nav-toggle" style="display: none;">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </div>
            </div>
        </nav>
        <div id="nav-overlay"></div>
        <div class="container-section">
            <section>
                <div id="main-img" class="content">
                    <div id="intro-text">
                        <p>Are you ready ?</p>
                    </div>
                    <div id="countdown">
                        <div id="jours" class="countdown-elm">
                            <p id="value_jours" class="countdown-value"></p>
                            <p class="text">Jours</p>
                        </div>
                        <div id="heures" class="countdown-elm">
                            <p id="value_heures" class="countdown-value"></p>
                            <p class="text">Heures</p>
                        </div>
                        <div id="minutes" class="countdown-elm">
                            <p id="value_minutes" class="countdown-value"></p>
                            <p class="text">Minutes</p>
                        </div>
                        <div id="secondes" class="countdown-elm">
                            <p id="value_secondes" class="countdown-value"></p>
                            <p class="text">Secondes</p>
                        </div>
                    </div>
                    <div class="arrow">
                        <a class="next" href="#about"><img src="./img/arrow.svg" alt="arrow"></a>
                    </div>
                </div>
            </section>
            <section>
                <div id="about" class="content">
                    <div id="desc" class="content-subtitle">
                        <p>Fêter son bac c'est bien, remettre ça grâce à Post Back c'est mieux !</p>
                        <p>Au programme : Du gros son, beaucoup de boisson, mais aussi des tournois et pleins d'autres surprises !</p>
                        <p>Réserve ton week-end du 01 au 03 juillet pour venir trinquer et taper du pied !</p>
                        <p>En attendant l'adresse et la billeterie, inscris-toi sur le site pour nous dire si tu seras de la party !</p>
                    </div>
                    <div class="arrow">
                        <a class="next" href="#team"><img src="./img/arrow.svg" alt="arrow"></a>
                    </div>
                </div>
            </section>
            <section>
                <div id="us" class="content">
                    <div id="team" class="content-subtitle">
                        <div class="us" id="Nono">
                            <img class="class active" src="./img/us/Nono.jpg" alt="Nono">
                            <img class="golri" src="./img/us/Nono2.jpg" alt="Nono">
                        </div>
                        <div class="us" id="Clacla">
                            <img class="class active" src="./img/us/Clacla.jpg" alt="Clacla">
                            <img class="golri" src="./img/us/Clacla2.jpg" alt="Clacla">
                        </div>
                        <div class="us" id="Gogo">
                            <img class="class active" src="./img/us/Gogo.jpg" alt="Gogo">
                            <img class="golri" src="./img/us/Gogo2.jpg" alt="Gogo">
                        </div>
                        <div class="us" id="Kekoeur">
                            <img class="class active" src="./img/us/Kekoeur.jpg" alt="Kekoeur">
                            <img class="golri" src="./img/us/Kekoeur2.jpg" alt="Kekoeur">
                        </div>
                        <div class="us" id="Pierrot">
                            <img class="class active" src="./img/us/Pierrot.jpg" alt="Pierrot">
                            <img class="golri" src="./img/us/Pierrot2.jpg" alt="Pierrot">
                        </div>
                        <div class="us" id="Valoche">
                            <img class="class active" src="./img/us/Valoche.jpg" alt="Valoche">
                            <img class="golri" src="./img/us/Valoche2.jpg" alt="Valoche">
                        </div>
                    </div>
                    <div class="arrow">
                        <a class="home" href="#main-img"><img src="./img/arrow.svg" alt="arrow"></a>
                    </div>
                </div>
                
            </section>
        </div>
        <!--<div id="btn-chat">
            <button id="display_chat"><img src="./img/chat.svg" alt="chat"></button>
        </div>
        <div id="contact">
            <div id="content">
                <div id="info">
                    <div id="user">
                        <div data-dispo="<%= dispo %>"></div>
                        <%= firstname %>
                            <%= lastname %>
                    </div>
                    <div id="close_chat"><i class="fa fa-times-circle-o" aria-hidden="true"></i></div>
                </div>
                <div id="messages">Le chat a un petit soucis sur mobile je suis sur le dossier ! Kekoeur</div>
                <div id="writing"></div>
            </div>
            <form id="sendMessage">
                <% if(firstname !="" ) { %>
                    <input type="text" id="name" placeholder="Entrez votre nom"
                        value="<%= firstname %> <%= lastname %>">
                    <input type="text" id="message" placeholder="Entrez votre message">
                    <button>Envoyer</button>
                    <% } else { %>
                        <a id="not_co" href="/login">Connectez/inscrivez vous pour pouvoir écrire dans le chat</a>
                        <% } %>

            </form>
        </div>-->
        <!-- On va chercher socket.io.js -->

        <script src="/socket.io/socket.io.js"></script>
        <script src="js/scripts.js"></script>
        <%- include('./footer'); %>